@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  word-break: keep-all;
}

.hidden {
  display: none !important;
}

#wrap {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
#wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  opacity: 0.3;
  z-index: -1;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  align-items: center;
}
.bg {
  position: fixed;
  top: 0;
  left: 50%;
  aspect-ratio: auto 960 / 593;
  z-index: -1;
  transform: translateX(-50%);
}
#weather span,
#quote span {
  font-size: 14px;
}

#clock {
  font-size: clamp(70px, 10vw, 165px);
  font-weight: 700;
  line-height: 1;
}

form input[type="text"] {
  width: 100%;
  border: none;
  background: none;
  color: white;
  box-sizing: border-box;
}
form input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
#greeting {
  font-size: clamp(40px, 6vw, 70px);
  font-weight: 300;
  line-height: 1;
}
#login-form {
  margin-top: 40px;
  border-radius: 50px;
  background: rgba(26, 26, 26, 0.7);
  padding: 5px;
  display: inline-flex;
  gap: 1%;
  width: 50%;
  min-width: 320px;
  max-width: 800px;
}
#login-form input[type="text"] {
  width: 79%;
  padding: 10px;
  border-radius: 50px;
}
#login-form input[type="submit"] {
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background: #111;
  color: white;
  cursor: pointer;
}
form input:focus,
form button:focus {
  outline: none;
}
.todo-wrap {
  margin-top: 20px;
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  min-width: 320px;
  max-width: 800px;
  box-sizing: border-box;
}
#todo-form {
  padding: 15px 15px 0;
  border-bottom: 1px solid white;
  background: rgba(26, 26, 26, 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#todo-form h2 {
  font-size: clamp(22px, 4vw, 40px);
  font-weight: 700;
  line-height: 1;
}
#todo-form input[type="text"] {
  display: block;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
#todo-list {
  padding: 15px;
  background: rgba(26, 26, 26, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid rgb(157, 157, 157);
  gap: 1%;
}
#todo-list li:last-child {
  border-bottom-color: white;
}
#todo-list li button {
  display: block;
  position: relative;
  background: none;
  font-size: 0;
  border: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#todo-list li button::before,
#todo-list li button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2px;
  background: rgba(224, 224, 224);
  border-radius: 2px;
}
#todo-list li button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#todo-list li button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
